<div class="row">
	<div class="col-md-8">
		<%= render 'shared/page_title', title: 'Edit this review' %>

		<%= form_for([@recipe, @review]) do |f| %>
			<%= f.label :Review %>
			<%= f.text_area :body, row: 5 %>

			<%= f.submit "Update Review", class: "btn btn-success" %>
		<% end %>
	</div>
</div>